# Dependencies
node_modules

# Next.js
.next
out
tsconfig.tsbuildinfo

# Env files
.env
.env.*
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tooling
.vscode/
.idea/
.vercel/
.turbo/

# Temporary files
tmp/
*.log
.eslintcache

AGENTS.md
